<a href="https://colab.research.google.com/github/shifna9895/python-interview-questions/blob/main/python_interview_qustions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.write a program to swap 2 variables.
a='hello'
b='world'
a,b=b,a
print(a)
print(b)

world
hello

In [ ]:
#3.write a program to print all even numbers 1 and 100.
for i in range(1,101):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#6.write to maximum of 2 numbers.
a=10
b=20
print(max(a,b))

20

In [ ]:
#7.find the sum of all numbers in a list.
list1=[11,5,17,18,23]
print(sum(list1))

74

In [ ]:
#8.find the second largest number in a list.
mark=[10,20,4,45,99]
mark.sort()
print(mark[-2])

45

In [ ]:
#9.write a function that take a numbers as an argument and returns its square.
def squarenumber(num):
  return num**2
  result=squarenumber(25)
  print(result)

In [ ]:
#10.count the number of vowels in a string.
a="hello world"
v=['a','i','o','u','A','I','O','U',]
count=0
for char in a:
  if char in v:
    count+=1
print(count)

2

In [3]:
#11.write a proram to reverse a string.
a="hello world"
print(a[::-1])

dlrow olleh

In [4]:
#12.write a program to sort a list of numbers in osccending order.
list1=[11,5,17,18,23]
list1.sort()
print(list1)

[5, 11, 17, 18, 23]

In [5]:
#14.write program to find the intersection of 2 sets.
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.intersection(set2))

{4, 5}

In [6]:
#13.write a program to find the sum of the first n natural numbers.
n=10
sum=0
for i in range(1,n+1):
  sum=sum+i
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [7]:
#15.write a program to add 2 numbers and print the result.
a=10
b=20
print(a+b)

30

In [2]:
#16.write a program that asks the user for their name and prints a greeting message with thier name.
name=input("enter your name")
print("hello",name)

KeyboardInterrupt: Interrupted by user

In [5]:
#17.write a program that checks if a given number is even or odd.
num=int(input("enter a number"))
if num%2==0:
  print("it is a even number")
  else:
    print("it is a odd ")

SyntaxError: invalid syntax (<ipython-input-5-f0f86ab5fc9e>, line 5)

In [6]:
#18.write a program that creates a list of 5 fruits and prints the list.
fruits=['apple','banana','orange','grapes','mango']
print(fruits)

['apple', 'banana', 'orange', 'grapes', 'mango']

In [11]:
#19.function to add 2 numbers.
def add(a,b):
  return a+b
add(10,20)

30

In [13]:
#20.find the common elements in 2 lists.
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
set1=set(list1)
set2=set(list2)
common_elements=set1.intersection(set2)
print(common_elements)

{4, 5}

In [14]:
#21.list of numbers and then prints the average of those numbers.
numbers=[10,20,30,40,50,]
average=sum(numbers)/len(numbers)
print(average)

30.0

In [ ]:
#22.-write a program to calculate and print the sum of a list of numbers.
list1=[]
sum=0
num=0
limit=int(input("enter the limit"))
while limit>0:
 new=int(input("enter the number"))
 list1.append(new)
 limit-=1
 sum=sum+list1[num]
 num+=1
print("sum of all items in a list",sum)

In [20]:
#23.create a dictionary with three key-value pairs and prints it.
dict1={'a':1,'b':2,'c':3}
print(dict1)

{'a': 1, 'b': 2, 'c': 3}

In [22]:
#24.print numbers from 1 to 5 using a while loop.
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
#25.write a function squaresthat takes a list of integers and returns new list containing the squares of all even numbers from the orginal list using list comprehension.
def squares(numbers):
  return [i**2 for i in numbers if i%2==0]
numbers=[22,23,24,25,26,27,28,29]
print(squares(numbers))

In [26]:
#26.print the first and last elements of a list.
list1=[1,2,3,4,5]
print(list1[0])
print(list1[-1])

1
5

In [27]:
#27.concatenates (joins together)2 strings and prints the result.
a="hello"
b="world"
print(a+b)

helloworld

In [31]:
#28.compares 2 numbers and prints which one is larger.
a=10
b=20
if a>b:
  print("a is a larger")
else:
  print("b is a larger ")

b is a larger

In [32]:
#29.generate a list of even numbers from 1 to 20.
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [35]:
#30.function to add 2 numbers.
def add(a,b):
  return a+b
  add(10,20)

In [36]:
#31.write program to find the common elemetns in 2 lists.
color1="Red","Green","Orange","White"
color2="Black","Green","White","Pink"
print(set(color1).intersection(color2))

{'Green', 'White'}

In [41]:
#32.write a function count_alphabet_occurances that takes a list of words and returns a dictionary where the keys are alphabetic characters and the values are the number of times each character appears across all the words in the list.
def count_alphabet_occurances(words):
  char_count={}
  for word in words:
    for char in word:
      if char.isalpha():
        char=char.lower()
        if char in char_count:
          char_count[char]+=1
        else:
          char_count[char]=1
  return char_count

words=["shina","rasha","shifana","murshida"]
result=count_alphabet_occurances(words)
print(result)

{'s': 4, 'h': 4, 'i': 3, 'n': 2, 'a': 6, 'r': 2, 'f': 1, 'm': 1, 'u': 1, 'd': 1}

In [42]:
#33.write a function flatten_list that takes a list of lists and returns a single list containing all the elements from the nested list.
def flatten_list(nested_list):
  return[item for sublist in nested_list for item in sublist]
nested_list=[[1,2,3],[4,5],[6,7,8,9]]
flat_list=flatten_list(nested_list)
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
#34.write a function count-words that takes a list of string and returns new list containing the words that occur more than twice without using the counter class.

words=["apple","banana","apple","orange","banana","apple","mango"]
words_count={}

for word in words:
  if word in words_count:
    words_count[word]+=1
  else:
    words_count[word]=1
print(words_count)

result=[]
for i,j in words_count.items():
  if j>=2:
    result.append(i)
print(result)

{'apple': 3, 'banana': 2, 'orange': 1, 'mango': 1}
['apple', 'banana']

In [44]:
#35.write a function double_numbers that takes a list of integers and returns new list containing each number doubled using list comprehension.
def double_numbers(integers):
  return[i*2 for i in integers]
integers=[1,2,3,4,5,6,7,8,9,10]
print(double_numbers(integers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]